name: Infrastructure Provisioning

on:
  workflow_dispatch:
    inputs:
      stage:
        description: "Deployment stage"
        required: true
        type: choice
        options:
          - dev
          - qa
          - prod

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
          
      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -var="stage=${{ inputs.stage }}"

      # Apply intentionally commented for now
      # - name: Terraform Apply
      #   run: terraform apply -auto-approve -var="stage=${{ inputs.stage }}"
